@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --dark: #293f50;
    --light: #888;
    --middle: #648880;
    --white: #fff;
    --light_green: #a1d3b0;
    --yellow: #f6f1d3;
}

*,
html,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    max-width: 100%;
    font-family: "Lato", sans-serif;
}


/* Containers */

.container,
.container_small {
    padding-top: 30px;
    max-width: 960px;
    margin: 0 auto;
}

.container_grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "hrs main";
    color: #a9b2b9;
}


/* HEADER & NAV*/

.bg-dark {
    background-color: var(--dark);
}

.flex,
.flex_centered,
.flex_info {
    padding: 40px 30px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.flex_centered {
    flex-direction: column;
    justify-content: center;
}

.flex_centered p {
    text-align: center;
}


/* nav & ul/li */

ul {
    padding-top: 15px;
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-weight: 400;
}

.nav h2 {
    font-size: 20px;
    text-align: right;
}


/* text */

h1 {
    font-weight: 100;
    font-size: 44px;
    color: var(--white);
    line-height: .9;
}

h2 {
    color: var(--middle);
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 10px;
}

h3,
h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--light);
    font-weight: 400;
}

h5 {
    color: var(--middle);
}

.text {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: var(--white);
    line-height: 40px;
}

p {
    color: var(--light);
}

.title {
    position: relative;
}

.title::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--middle);
    position: absolute;
    left: 0;
    top: -40px;
}

.bold {
    font-weight: 400;
}


/* LINKS  */

a:link,
a:visited {
    color: var(--white);
    text-decoration: none;
}

a:hover,
.title h1:hover,
h3 a:link,
h4 a,
h4 a:link,
h3 a:visited,
.container_grid h3 a:link,
.address a:link,
.container_grid a:visited,
.register_grid a:link,
.register_grid a:visited {
    color: var(--middle);
}

.speak p a:link,
.speak p a:visited {
    color: #888;
}

.container_grid p a:hover {
    color: #a9b2b9;
}

h3 a:hover {
    color: var(--light);
}


/* button */

.button a {
    display: inline-block;
    background-color: var(--dark);
    color: var(--white);
    border: 1px solid var(--white);
    padding: 25px;
    margin: 20px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.button a:hover {
    background-color: var(--white);
    color: var(--middle);
}


/* SPEAKERS */

.flex_info {
    display: flex;
    margin-bottom: 30px;
}

.intro,
.intro_sp {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.intro h3,
.intro p {
    font-weight: 300;
    line-height: 1.4;
}

.last {
    margin-right: 0;
}

.img {
    height: 170px;
    border-radius: 10px;
}


/* SPEAKERS */

.intro_sp {
    background-image: linear-gradient(to right, var(--light_green), var(--yellow));
    margin-right: 0;
}

.intro_sp p {
    color: var(--light);
    font-size: 20px;
    font-weight: 500;
}


/* INTRODUCTION  */

.container_small {
    display: flex;
    width: 528px;
}

.introduction img {
    margin-left: 50px;
    width: 130px;
    border-radius: 50%;
}

.introduction .flex {
    padding-top: 0;
}

aside {
    width: 30%;
    margin-top: -150px;
    padding-left: 25px;
    margin-left: 25px;
    float: right;
}

.speaker {
    position: relative;
}

.speaker::before {
    content: "";
    display: block;
    width: 100%;
    height: 170px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: -1;
}

aside ul {
    display: grid;
    text-align: center;
}

.introduction a,
aside a,
aside a:visited {
    color: var(--middle);
}


/* SCHEDULE */

.aside {
    grid-template-areas: "hrs";
}

.schedule {
    grid-template-areas: "main";
}

.line {
    width: 100%;
    margin: 30px 0;
    border-bottom: 1px solid rgb(214, 214, 214)
}

.ids {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.day {
    margin: 50px 0;
    padding: 20px 0;
}


/* fonts */

.container_grid h3,
.propose h2 {
    color: var(--middle);
    font-size: 24px
}

.container_grid h5,
.container_grid h4 {
    font-size: 18px;
}

.aside h5 {
    color: #a9b2b9;
    font-size: 14px;
}

.container_grid h3,
.container_grid h5,
.container_grid h4,
.container_grid p {
    margin-top: 0;
}


/* VENUE */

.map_link {
    display: inline-block;
    vertical-align: top;
    padding-left: 20%;
}

.address,
.map_link {
    margin: 40px 0;
}


/* REGISTER */

.register_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    line-height: 1.5;
    padding: 10px 15px;
}

.propose h2 {
    color: var(--middle);
    padding-top: 20px;
    font-size: 24px;
    font-weight: 400;
}

.propose h5 {
    padding: 0;
    color: var(--light);
    opacity: .7;
    margin: 0;
}

.propose h4 {
    color: var(--middle);
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.propose ul {
    padding-left: 15px;
    color: var(--light);
    display: grid;
    list-style-type: square;
}

form {
    margin-left: 20px;
    margin-bottom: 22px;
    padding-right: 20px;
    margin-top: 20px;
    font-size: 18px;
    /* margin: 5px 0 27px 0; */
}

.input_form {
    height: 30px;
    font-size: 16px;
    /*font-family: "Lato";*/
    font-weight: 300;
}

.input_form,
.text_form,
.select_form {
    width: 100%;
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    /* padding: 5px 8px; */
}

.input_form,
.text_form,
.select_form {
    margin-top: 5px;
    margin-bottom: 20px;
}

.select_form {
    width: 60px;
    height: 34px;
}

.purchase_btn {
    display: inline-block;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    background-color: var(--middle);
    padding: 11px 30px;
    cursor: pointer;
}

.purchase_btn:hover {
    opacity: 0.8;
}


/* FOOTER */

.footer .flex {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.footer li {
    margin-top: -20px;
    font-weight: 300;
    font-size: 15px;
}

@media (max-width: 800px) {
    .container_grid {
        column-gap: 10px;
    }

    .register_grid {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .day {
        /*padding-left: 20px;*/
        margin-left: 10%;
    }

    .day .container_grid, .ids {
        width: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
    }

    /* HEADER & NAV*/
    .flex,
    .flex_centered,
    .flex_info {
        padding-top: 10px;
        flex-wrap: wrap;
        height: 30%;
    }

    .intro img {
        width: 40%;
        padding: 20px 0;
    }

    .nav h2 {
        font-size: 15px;
        text-align: left;
        padding-top: 15px;
    }


    /* fonts */
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 20px;
    }

    /*SPEAKERS*/
    aside .speaker {
        display: none;


    }

}

@media screen and (max-width: 460px) {
    header li{
        font-size: 10px;
    }
}