@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
:root {
    --dark: #293f50;
    --light: #888;
    --middle: #648880;
    --white: #fff;
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    padding-top: 30px;
    width: 960px;
    margin: 0 auto;
    padding: 0 auto;
}


/* HEADER & NAV*/


/* Containers */

.bg-dark {
    background-color: var(--dark);
}

.flex,
.flex_centered,
.flex_info {
    padding: 40px 30px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.flex_centered {
    flex-direction: column;
    justify-content: center;
}

.flex_centered p {
    text-align: center;
}


/* nav & ul/li */

ul {
    padding-top: 15px;
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-weight: 400;
}

.nav h2 {
    font-size: 20px;
    text-align: right;
}


/* text */

h1 {
    font-weight: 100;
    font-size: 44px;
    color: var(--white);
    line-height: .9;
}

h2 {
    color: var(--middle);
    font-size: 35px;
    font-weight: 300;
    padding-bottom: 10px;
}

h3,
h5 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: var(--light);
    font-weight: 400;
}

h5 {
    color: var(--middle);
}

.text {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: var(--white);
    line-height: 40px;
}

p {
    color: var(--light);
}

.title {
    position: relative;
}

.title::before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--middle);
    position: absolute;
    left: 0;
    top: -40px;
}


/* LINKS  */

a:link,
a:visited {
    color: var(--white);
    text-decoration: none;
}

a:hover,
.title h1:hover,
h3 a,
h3 a:visited {
    color: var(--middle);
}

h3 a:hover {
    color: var(--light);
}


/* button */

.button a {
    display: inline-block;
    background-color: var(--dark);
    color: var(--white);
    border: 1px solid var(--white);
    padding: 25px;
    margin: 20px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .5px;
}

.button a:hover {
    background-color: var(--white);
    color: var(--middle);
}


/* SPEAKERS */

.flex_info {
    display: flex;
    margin-bottom: 50px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.last {
    margin-right: 0px;
}

.img {
    height: 170px;
    border-radius: 10px;
}


/* FOOTER */

.footer .flex {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.footer li {
    margin-top: -20px;
    font-weight: 300;
    font-size: 15px;
}